export TF_VAR_secret_scaleway_access_key=
export TF_VAR_secret_scaleway_secret_key=
export TF_VAR_scaleway_project_id=

export AWS_ACCESS_KEY_ID=$TF_VAR_secret_scaleway_access_key
export AWS_SECRET_ACCESS_KEY=$TF_VAR_secret_scaleway_secret_key
